table {
    padding-left: 25px;
    font-size: 25px;
    color: rgb(2,112,44);
    width: 100%;
    height: 100%;
    border: 3px solid #73AD21;
}

.login { 
    background-color: rgb(139,189,60);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 25em;
    height: 28em;
    position: relative;
    border: 10px solid  rgb(2,112,44);
    border-radius: 80px;
}


div.header {
    width: 10em;
    display: inline;
}

#sign-up-text {
    color: rgb(2,112,44);
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
#line1 {
    
}


.login form {
    height: 200px;
    width : 400px;
    margin-left: 0px;
}

input[type=text], input[type=password] {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table td.floating-row a { 
    float: left;
    border: 3px solid #73AD21;
    padding-top: 28px;
}

table td.floating-row input[type="image"] { 
    float: right;
    border: 3px solid #73AD21;
}

form a {
    font-size: 15px;
}