body {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

div.profile-container-top {
    width: 100%;
    height: 100%;
    display: block;
}

a.PR-OJEK-logo {
    width: auto;
    height: 100%;
    overflow: hidden;
    padding-top: 18px;
    padding-left: 10px;
    height: 50px;
    float: left;
}
div.username-identifier-and-control{
    line-height: 5px;
    text-align: right;
    float: right;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

div.username-identifier-and-control a {
    font-weight: 800;
}


div.profile-topnavigation ul {
    clear: left;
    clear: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-right: 1px solid black;
}
div.profile-topnavigation li {
    width: 33.33333%;
    float: left;
}
div.profile-topnavigation li a {
    width: 100%;
    display: block;
    font-family: sans-serif;
    background-color: black;
    font-size: 1.5em;
    color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px grey;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    border-right: 1px solid black;
}
div.profile-topnavigation li a:hover {
    background-color: rgba(70,93,67,0.2);
    color: black;
}

#active {
    background-color: rgb(70,93,67);
    color: white;
}

div.profile-update {
    padding-top: 0px;
    display: block;
    width: 100%;
    height: 7em;
}

div.profile-update p {
    font-size: 2em;
    font-family: fantasy;
    float: left;
}
div.profile-update button {
    float: right;
    margin-top: 28px;
}
div.profile-and-preferred-locations-main {
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
}
div.user-profile {
    text-align: center;
    font-size: 20px;
    line-height: 5px;
}
#username {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

#hi-username {
    font-weight: bold;
    font-size: 1em;
}

#preferred-locations-text {
    font-family: fantasy;
    font-size: 2em;
    float:left;
}
#preferred-locations-update-button {
    float: right;
    margin-top: 28px
}
div.preferred-locations-text {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 5em;
}
div.user-preferred-locations {
    display: block;
    width: 100%;
}

div.user-preferred-locations-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    font-size: 25px;
}

div.user-preferred-locations-list li:before {
    content: "\0025B6";
}