body {
}

div.fieldname {
    float: left;
    width: 50%;
}

div.fieldvalue {
    float: left;
    width: 50%;
}

.register { 
    background-color: rgb(139,189,60);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 25em;
    height: 28em;
    position: relative;
    border: 10px solid  rgb(2,112,44);
    border-radius: 80px;
}

div.header {
    width: 10em;
    display: inline;
}

#sign-up-text {
    color: rgb(2,112,44);
    padding-top: 0px;
    font-size: 3em;
    text-align: center;
}


.register form {
    color: rgb(2,112,44);
    width : 300px;
    margin: 0;
    padding: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table td.floating-row a {
    float : left;
    padding-top: 28px;
}

table td.floating-row input[type="image"] {
    float : right;
}

#username, #email {
    width: 85%;
}

#isUsernameExist, #isEmailExist {
    width: 5%;
    padding: 0;
    margin: 0;
    color: red;
    font-size: 1em;
}