body {
;
}

table {
    width: 100%;
    height: 100%;
    border: 3px solid #73AD21;
    
}

.login { 
    background-color: chartreuse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 25em;
    height: 25em;
    position: relative;
    border: 10px solid #73AD21;
    border-radius: 50px;
}


div.header {
    width: 10em;
    display: inline;
}

#sign-up-text {
    font-size: 3em;
    text-align: center;
}
#line1 {
    
}


.login form {
    height: 200px;
    width : 400px;
    margin-left: 0px;
}

input[type=text], input[type=password] {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table td.floating-row a { 
    float: left;
    border: 3px solid #73AD21;
    padding-top: 28px;
}

table td.floating-row input[type="image"] { 
    float: right;
    border: 3px solid #73AD21;
}