body {
    margin: 0;
    padding: 0;
}

div.profile-container-top {
    width: 100%;
    height: 100%;
    display: block;
    border: 3px solid red;
}

a.PR-OJEK-logo {
    width: auto;
    overflow: hidden;
    padding-top: 18px;
    padding-left: 10px;
    height: 50px;
    float: left;
    border: 3px solid #73AD21;
}
div.username-identifier-and-control{
    width: 100%;
    margin-left: 93%;
    border: 3px solid #73AD21;
}
div.profile-topnavigation ul {
    clear: left;
    clear: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid black;
}
div.profile-topnavigation li {
    width: 33.33333%;
    float: left;
}
div.profile-topnavigation li a {
    width: 100%;
    display: block;
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px grey;
    text-decoration: none;
}
div.profile-topnavigation li a:hover {
    background-color: white;
    color: black;
}
div.profile-update {
    display: block;
    width: 100%;
    border: 3px solid #73AD21;
}
div.profile-update {
    height: 7em;
}
div.profile-update p {
    font-size: 2em;
    font-family: fantasy;
    float: left;
    margin-left: 20px;
}
div.profile-update button {
    float: right;
    margin-top: 28px;
}
div.profile-and-preferred-locations-main {
    position: relative;
}
div.user-profile {
    text-align: center;
}
#preferred-locations-text {
    font-family: fantasy;
    font-size: 2em;
    float:left;
    margin-left: 20px;
}
#preferred-locations-update-button {
    float: right;
    margin-top: 28px
}
div.preferred-locations-text {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 5em;
    border: 3px solid #73AD21;
}
div.user-preferred-locations {
    display: block;
    width: 100%;
}