body {
}

div.fieldname {
    float: left;
    width: 50%;
}

div.fieldvalue {
    float: left;
    width: 50%;
}

.register { 
    background-color: chartreuse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 25em;
    height: 25em;
    position: relative;
    border: 10px solid #73AD21;
    border-radius: 50px;
}

div.header {
    width: 10em;
    display: inline;
}

#sign-up-text {
    padding-top: 0px;
    font-size: 3em;
    text-align: center;
}


.register form {
    width : 300px;
    margin: 0;
    padding: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table td.floating-row a {
    float : left;
    padding-top: 28px;
}

table td.floating-row input[type="image"] {
    float : right;
}
